{% extends 'base.html' %}

{% block javascript %}
  <script>
    $(function () {

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_file").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 1/1,
          minCropBoxWidth: 200,
          minCropBoxHeight: 200,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("#formUpload").submit();
      });

    });
  </script>
{% endblock %}

{% block content %}
  <h1 class="page-header">Personal Color</h1>
  <h1 class="page-header">Step2 - Survey</h1>

  <form method="POST" class="post-form">
    {% csrf_token %}
    <h3 class="page-header">Q1 당신의 피부톤은 어떤 편입니까? (눈 밑과 목을 중심으로 봐주세요)</h3>
    <input type="radio" name="q1" value=1>  노란기 있는 복숭아 계열<br>
    <input type="radio" name="q1" value=0>  핑크빛 도는 붉은 빛 계열<br><br>
    <h3 class="page-header">Q2 볼에 홍조가 있는 편입니까?</h3>
    <input type="radio" name="q2" value=1>  볼에 홍조가 있는 편<br>
    <input type="radio" name="q2" value=0>  볼에 홍조가 없는 편<br><br>
    <h3 class="page-header">Q3 자외선에 잘 타는 타입입니까?</h3>
    <input type="radio" name="q3" value=1>  까맣게 타고 오래 지속되는 편<br>
    <input type="radio" name="q3" value=0>  붉게 타고 금방 돌아오는 편<br><br>
    <h3 class="page-header">Q4 본인 이미지는 어떤 타입입니까?</h3>
    <input type="radio" name="q4" value=1>  도시적이며 눈동자가 또렷한 편<br>
    <input type="radio" name="q4" value=0>  부드럽고 여성적이고 우아한 편<br><br>
    <br>
    <br>
    <input class="btn btn-dark" type="submit" value="Submit">
  </form>

{% endblock %}